body {
    margin: 0;
    padding: 0;
    background-color: rgb(206, 206, 206);
}

.navbar {
    height: 100px;
    padding: 0px 20px 0px 20px;
}

#navbarNav {
    justify-content: flex-end;
    width: 600px;
}

.navbar-brand {
    padding-left: 50px;
    font-size: xx-large;
}



.nav-link {
    margin: 0px 50px 0px 50px;
    font-size: large;
}

.nav-link:hover {
    opacity: 50%;
}

.jumbotron {
    height: 300px;
}

#about {
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    padding-bottom: 30px;
}

.cardContainer {
    height: 500px;
}

.img:hover {
    opacity: 30%;
}

.card {
    height: 475px;
    padding: 10px;
}

.card-footer {
    margin-top: 50px;
    height: 200px;
}

#contact {
    display: flex;
}

.footer-title {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border-right: solid black 5px;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    border-right: solid black 5px;
}

.footer-list a {
    width: 400px;
    color: rgb(2, 2, 2);
    padding: 20px;

}